<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">

        <div class="container">
            <div class="breadcrumb">
                <span class="path">AGGIUNGI ANAGRAFICA/PRATICA CLIENTE</span>
            </div>
            <h1>Aggiungi Cliente</h1>
        </div>

    </div>
    <treo-message *ngIf="message"
                  [appearance]="message.appearance"
                  [showIcon]="message.showIcon"
                  [type]="message.type"
                  [@shake]="message.shake">
        {{message.content}}
    </treo-message>
    <customer-information [customer]="anagrafica" (sendForm)="sendForm($event)"></customer-information>
</div>
