<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Centered -->
<!--<centered-layout *ngIf="layout === 'centered'"></centered-layout>-->

<!-- Enterprise -->
<!--<enterprise-layout *ngIf="layout === 'enterprise'"></enterprise-layout>-->

<!--&lt;!&ndash; Material &ndash;&gt;-->
<!--<material-layout *ngIf="layout === 'material'"></material-layout>-->

<!--&lt;!&ndash; Modern &ndash;&gt;-->
<!--<modern-layout *ngIf="layout === 'modern'"></modern-layout>-->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Basic -->
<!--<basic-layout *ngIf="layout === 'basic'"></basic-layout>-->

<!--&lt;!&ndash; Classic &ndash;&gt;-->
<!--<classic-layout *ngIf="layout === 'classic'"></classic-layout>-->

<!-- Classy -->
<classy-layout *ngIf="layout === 'classy'"></classy-layout>

<!-- Compact -->
<!--<compact-layout *ngIf="layout === 'compact'"></compact-layout>-->

<!--&lt;!&ndash; Dense &ndash;&gt;-->
<!--<dense-layout *ngIf="layout === 'dense'"></dense-layout>-->

<!--&lt;!&ndash; Futuristic &ndash;&gt;-->
<!--<futuristic-layout *ngIf="layout === 'futuristic'"></futuristic-layout>-->

<!--&lt;!&ndash; Thin &ndash;&gt;-->
<!--<thin-layout *ngIf="layout === 'thin'"></thin-layout>-->
