<div class="max-w-full m-8 rich-text">

<!--    {{ customerForm  | json}}-->
    <form #customerForm="ngForm" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
        <p class="text-lg font-medium mb-8">Anagrafica Cliente</p>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Cognome</mat-label>
                <input matInput [(ngModel)]="customer.cognome" name="cognome"
                       [placeholder]="'Cognome'" required>
                <mat-icon matPrefix
                          [svgIcon]="'account_circle'"></mat-icon>
                <mat-error>Questo campo è obbligatorio</mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="customer.nome" name="nome"
                       [placeholder]="'Nome'" required>
                <mat-icon matPrefix
                          [svgIcon]="'account_circle'"></mat-icon>
                <mat-error>Questo campo è obbligatorio</mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Email</mat-label>
                <input matInput  [(ngModel)]="customer.email" name="email" email="true"
                       [placeholder]="'Email'">
                <mat-icon matPrefix
                          [svgIcon]="'mail'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Codice Fiscale</mat-label>
                <input matInput
                       [(ngModel)]="customer.codiceFiscale" name="codicefiscale"
                       [placeholder]="'Codice Fiscale'">
                <mat-icon matPrefix
                          [svgIcon]="'assignment_turned_in'"></mat-icon>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Indirizzo Completo</mat-label>
                <input matInput  [(ngModel)]="customer.indirizzo" name="indirizzo"
                       [placeholder]="'Indirizzo Completo'">
                <mat-icon matPrefix
                          [svgIcon]="'room'"></mat-icon>
            </mat-form-field>
            <mat-form-field  class="flex-auto gt-xs:pr-3">
                <mat-label>Data di Nascita</mat-label>
                <input matInput  [(ngModel)]="customer.dataNascita" name="dataNascita" [placeholder]="'Data di Nascita'" [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Nazione</mat-label>
                <input matInput [placeholder]="'Nazione'"  [(ngModel)]="customer.nazione" name="nazione">
                <mat-icon matPrefix
                          [svgIcon]="'room'"></mat-icon>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Città</mat-label>
                <input matInput [placeholder]="'Città'" [(ngModel)]="customer.citta" name="citta">
                <mat-icon matPrefix
                          [svgIcon]="'room'"></mat-icon>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Provincia</mat-label>
                <input matInput [placeholder]="'Provincia'" [(ngModel)]="customer.provincia" name="provincia">
                <mat-icon matPrefix
                          [svgIcon]="'room'"></mat-icon>
            </mat-form-field>
        </div>
        <mat-divider class="mt-6 mb-10"></mat-divider>

        <mat-tab-group>
            <mat-tab label="Informazioni Amministrative">
                <div class="flex flex-col gt-xs:flex-row mt-6">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Qualifica</mat-label>
                        <input matInput [(ngModel)]="customer.reportAmministrative.qualifica" name="reportAmministrativeQualifica"
                               [placeholder]="'Qualifica'">
                        <mat-icon matPrefix
                                  [svgIcon]="'data_usage'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field id="documentazione" class="flex-auto gt-xs:pr-3">
                        <mat-label>Documentazione</mat-label>
                        <mat-select [placeholder]="'Documentazione'" [(ngModel)]="customer.reportAmministrative.documentazione" name="reportAmministrativeDocumentazione">
                            <mat-option value="SI">SI</mat-option>
                            <mat-option value="NO">NO</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'feather:archive'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Faldone</mat-label>
                        <input matInput type="number" min="0" [(ngModel)]="customer.reportAmministrative.numeroFaldone" name="reportAmministrativeFaldone"
                               [placeholder]="'Faldone'">
                        <mat-icon matPrefix
                                  [svgIcon]="'all_inbox'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Ricorso Cedu</mat-label>
                        <input matInput type="number" min="0" [(ngModel)]="customer.reportAmministrative.ricordoCedu" name="reportAmministrativeCedu"
                               [placeholder]="'Ricorso Cedu'">
                        <mat-icon matPrefix
                                  [svgIcon]="'heroicons_outline:folder'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Data Pagamento</mat-label>
                        <input matInput type="text" [(ngModel)]="customer.reportAmministrative.dataPagamento" name="reportAmministrativeDataPagamento"
                               [placeholder]="'Data Pagamento'" [matDatepicker]="pickerDataPagamento" readonly>
                        <mat-datepicker-toggle matPrefix [for]="pickerDataPagamento"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDataPagamento></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="flex">
                    <mat-form-field class="treo-mat-textarea flex-auto">
                        <mat-label>Altro</mat-label>
                        <textarea matInput [(ngModel)]="customer.reportAmministrative.altro" name="reportAmministrativeAltro"
                                  [placeholder]="'Altro'"
                                  [rows]="3"></textarea>
                        <mat-icon matPrefix
                                  [svgIcon]="'notes'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="treo-mat-textarea flex-auto">
                        <mat-label>Note</mat-label>
                        <textarea matInput [(ngModel)]="customer.reportAmministrative.note" name="reportAmministrativeNote"
                                  [placeholder]="'Note'"
                                  [rows]="3"></textarea>
                        <mat-icon matPrefix
                                  [svgIcon]="'notes'"></mat-icon>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Patronato">
                <div class="flex flex-col gt-xs:flex-row mt-6">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Convenzione</mat-label>
                        <mat-select [placeholder]="'Convenzione'" [(value)]="customer.reportPatronato.convenzione" [(ngModel)]="customer.reportPatronato.convenzione" name="reportPatronatoConv">
                            <mat-option value="SI">SI</mat-option>
                            <mat-option value="NO">NO</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'feather:archive'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Spese</mat-label>
                        <mat-select [placeholder]="'Spese'" [(value)]="customer.reportPatronato.spese" [(ngModel)]="customer.reportPatronato.spese" name="reportPatronatoSpese">
                            <mat-option value="SI">SI</mat-option>
                            <mat-option value="NO">NO</mat-option>
                            <mat-option value="COMPENSATE">COMPENSATE</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'feather:archive'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Decorrenza Successiva</mat-label>
                        <mat-select [placeholder]="'Decorrenza Successiva'" [(ngModel)]="customer.reportPatronato.decorrenzaSuccessiva" name="reportPatronatoDecSucc">
                            <mat-option value="SI">SI</mat-option>
                            <mat-option value="NO">NO</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'feather:archive'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Codice</mat-label>
                        <mat-select [placeholder]="'Codice'" [(ngModel)]="customer.reportPatronato.codice"  name="reportPatronatoCodice"  [compareWith]="compareCodice" >
                            <mat-option></mat-option>
                            <mat-option *ngFor="let codice of store.baseData.codici" [value]="codice"> {{codice.code}}</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'room'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Tipo Pratica</mat-label>
                        <input matInput
                               [placeholder]="'Tipo Pratica'" [(ngModel)]="customer.reportPatronato.tipoPratica" name="reportPatronatoTipoPratica">
                        <mat-icon matPrefix
                                  [svgIcon]="'room'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Tribunale</mat-label>
                        <mat-select [placeholder]="'Tribunale'"[(ngModel)]="customer.reportPatronato.tribunale" name="reportPatronatoTribunale"  [compareWith]="compareTribunale" >
                            <mat-option></mat-option>
                            <mat-option *ngFor="let tribunale of store.baseData.tribunali" [value]="tribunale">{{tribunale.tribunali}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Status</mat-label>
                        <mat-placeholder>Status</mat-placeholder>
                        <mat-select [(ngModel)]="customer.reportPatronato.status" name="reportPatronatostatus" [compareWith]="compareStatus" >
                            <mat-option></mat-option>
                            <mat-option *ngFor="let status of store.baseData.status" [value]="status"> {{status.status}}</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'room'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Ruolo Generale</mat-label>
                        <input matInput
                               [placeholder]="'Ruolo Generale'" [(ngModel)]="customer.reportPatronato.ruoloGenerale" name="reportPatronatoRuoloGen">
                        <mat-icon matPrefix
                                  [svgIcon]="'room'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Giudice</mat-label>
                        <input matInput
                               [placeholder]="'Giudice'" [(ngModel)]="customer.reportPatronato.giudice" name="reportPatronatoGiudice">
                        <mat-icon matPrefix
                                  [svgIcon]="'heroicons_outline:library'"></mat-icon>
                    </mat-form-field>

<!--                    <button mat-flat-button type="button" color="primary" routerLink="/customer/modify" style="margin-top: 27px" >-->
<!--                        Storico Udienza-->
<!--                    </button>-->
                    <button mat-flat-button type="button" color="primary" routerLink="/customer/modify" style="margin-top: 27px" [satPopoverAnchor]="p" (click)="p.open()">
                        Storico Udienza
                    </button>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Patronato Di Provenienza</mat-label>
                        <input matInput [(ngModel)]="customer.reportPatronato.patronatoProvenienza" name="reportPatronatoPatronatoProv"
                               [placeholder]="'Patronato Di Provenienza'">
                        <mat-icon matPrefix
                                  [svgIcon]="'mat_outline:gavel'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Avvocato Delegato</mat-label>
                        <input matInput [(ngModel)]="customer.reportPatronato.avvocatoDelegato" name="reportPatronatoAvvDelegato"
                               [placeholder]="'Avvocato Delegato'">
                        <mat-icon matPrefix
                                  [svgIcon]="'mat_outline:gavel'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="treo-mat-textarea flex-auto">
                        <mat-label>Note</mat-label>
                        <textarea matInput [(ngModel)]="customer.reportPatronato.note" name="reportPatronatoNote"
                                  [placeholder]="'Note'"
                                  [rows]="3"></textarea>
                        <mat-icon matPrefix
                                  [svgIcon]="'notes'"></mat-icon>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
        <treo-message *ngIf="message"
                      [appearance]="message.appearance"
                      [showIcon]="message.showIcon"
                      [type]="message.type"
                      [@shake]="message.shake">
            {{message.content}}
        </treo-message>

        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
            <button mat-button type="button" (click)="reset()">
                Reset
            </button>
            <button class="px-6 ml-3" type="button"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="sendCustomer(customer, customerForm);">
                Salva
            </button>
        </div>
    </form>
<!--    <div>{{customer.reportPatronato | json}}</div>-->

    <sat-popover #p

                 xAlign="start"
                 yAlign="start">
        <inline-edit [dataUltimaUdienza]="customer.reportPatronato.dateUdienze" (savaData)="saveDate($event)"></inline-edit>
    </sat-popover>
</div>
